//text-style
$main-font: 'Open Sans', sans-serif
$secondary-font: 'Montserrat', sans-serif


$main-color: #777777
$secondary-color: #000000
$light-color: #ffffff
$button-text-color: #ffffff
$name-color: #29323c

$title-font-size: 26px
$main-font-size: 16px
$main-font-size-small: 14px

$title-mobile-font-size: 25px
$mobile-font-size: 14px
$mobile-font-size-small: 14px

$main-weight: 300
$bold-weight: 700
$tc: center

$media-mobile: 400px
$media-tablet: 800px

%flex-center
  display: flex
  justify-content: center
  align-items: center

